ul {
    list-style-type: none;  
}
ul a{
    text-decoration: none;
}
#card{
    justify-content: space-around;
}
body{
    background: #ddd;
}
.owners{
    padding: 80px 0;
}
.card{
    box-shadow: 0 0 30px rgb(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}
.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}
.card:hover .img2 img{
    border-color: darkcyan ;
    transition: 5s;
}
.main-Text{
    padding: 30px 0;
    text-align: center;
}
.main-Text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin:0 0 20px ;
}
.main-Text p{
    font-size: 16px;
    padding-bottom: 0 35px ;
}
.socials{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
    text-align: center;
    
}
.carousel-item img{
    width: 100%;
    height: 80vh;
}
ul {
    list-style-type: none;  
}
ul a{
    text-decoration: none;
}
#card{
    justify-content: space-around;
}
body{
    background: #ddd;
}
.owners{
    padding: 80px 0;
}
.card{
    box-shadow: 0 0 30px rgb(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}
.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}
.card:hover .img2 img{
    border-color: darkcyan ;
    transition: 5s;
}
.main-Text{
    padding: 30px 0;
    text-align: center;
}
.main-Text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin:0 0 20px ;
}
.main-Text p{
    font-size: 16px;
    padding-bottom: 0 35px ;
}
.socials{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
    text-align: center;
    
}
/* #overlay {
     position: fixed; Sit on top of the page content
    display: none; Hidden by default
    width: 100%; Full width (cover the whole page)
    height: 100%; Full height (cover the whole page)
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); Black background with opacity
    z-index: 2; Specify a stack order in case you're using a different order for other elements
    cursor: pointer; Add a pointer on hover
    } */